@font-face {
  font-family: "Open Sans";
  src: url("../webfonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 300 600 800;
  font-display: swap;
}

@font-face {
  font-family: "Oranienbaum";
  src: url("../webfonts/Oranienbaum/Oranienbaum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../webfonts/Inter/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

.open-font {
  font-family: "Open Sans" !important;
}

.inter-font {
  font-family: "Inter" !important;
}

.oran-font {
  font-family: "Oranienbaum" !important;
}
/*public classes*/
.link {
  color: #0b86cbcc;
}

.border-light {
  border: 3px solid #c4c7c5;
}

.border-dark {
  border: 3px solid #0d0d0d;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/***********************/
/*Extra Font sizes*/
.fs-vb {
  font-size: 52px !important;
}
.fs-b {
  font-size: 50px !important;
}
.fs-7 {
  font-size: 14px !important;
}
.fs-8 {
  font-size: 12px !important;
}
.fs-9 {
  font-size: 10px !important;
}
.fs-10 {
  font-size: 8px !important;
}
/* Extra Font Weights*/
.fw-medium {
  font-weight: 500 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fw-extra-bold {
  font-weight: 800 !important;
}
.fw-black {
  font-weight: 900 !important;
}

main {
  width: 95%;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "inter" !important;
}
/*Partials--Navbar*/
/*Top NavBar*/
/*Animated Text*/
.text-animation {
  position: relative;
  div {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: fadeText 24s linear infinite;
  }
  div:nth-child(1) {
    animation-delay: 0s;
  }
  div:nth-child(2) {
    animation-delay: 6s;
  }
  div:nth-child(3) {
    animation-delay: 12s;
  }
  div:nth-child(4) {
    animation-delay: 18s;
  }
}

@keyframes fadeText {
  0%,
  25% {
    opacity: 0;
  }
  6%,
  21% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
}
/*all drop downs in nav*/
/* styling for dropdown-menus in nav*/
nav .dropdown-menu {
  margin-top: 5px !important;
  padding: 10px 8px 25px 8px !important;
  border-radius: 0;
}
/* styling for dropdown-items in nav*/
nav .dropdown-item {
  text-align: center;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding: 12px 0 12px 0;
  margin: 0 auto; /* Center the link */
  width: 94%;
}
a.dropdown-item {
  white-space: normal;
}
.dropdown-item:hover {
  background-color: #dbdbdb;
}

/*drop down arrows on bottom navbar*/
/*to make the arrow color black*/
#navbarDropdownArticles::after,
#navbarDropdownLadiesInHR::after,
#navbarDropdownWorkplaceCulture::after,
#navbarDropdownEvents::after,
#navbarDropdownCareers::after {
  border-top-color: black !important; /* Change the arrow color to black */
}
/*drop down arrows on navbar*/
/*to make the arrow color red*/
#navbarDropdownBrowseJobsDate::after,
#navbarDropdownBrowseJobsCity::after,
#navbarDropdownBrowseJobsCategory::after {
  border-top-color: #be111f !important; /* Change the arrow color to red */
}
/* to make the arrow flip up when menu is opened*/
.dropdown-toggle::after {
  content: "";
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  border-top: 0.3em solid; /* Creates the top part of the arrow */
  border-right: 0.3em solid transparent; /* Makes the right side of the invisible box transparent */
  border-bottom: 0; /* No border at the bottom */
  border-left: 0.3em solid transparent; /* Makes the left side of the invisible box transparent */
}
.dropdown-toggle.show::after {
  transform: rotate(180deg); /* Flips the arrow to face upwards */
}
.show .dropdown-toggle::after {
  transform: rotate(180deg);
}
/*bottom nav..The form*/
.centered-placeholder {
  text-align: center;
}

.dropdown-menu-dark {
  background-color: black;
}
/*////////////////End of partial-navbar/////////////////////*/
/*partials--carousel*/

.carousel-indicators > button {
  border-radius: 2000000px;
  border: 2px solid black !important;
}

.carousel-indicators > button:not(.active) {
  background: #ffffff;
}

.carousel-indicators {
  position: absolute;
  margin-top: 20px;
  z-index: 2;
  bottom: 6rem;
}
/*carousel 2 in page 6*/
/* Base style for carousel navigation buttons */
.carousel-control-prev {
  margin-left: -70px;
}
.carousel-control-next {
  margin-right: -70px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 55px;
  height: 55px;
}
/*////////////////End of partial carousel/////////////////////*/
/*//////////////////partial video container//////////////////*/
/*vedio container*/
.embed-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.embed-cover-btn {
  width: 35%;
  height: 35%;
}
.fs-card-sm {
  font-size: 20px;
}
.fs-card-md {
  font-size: 24px;
}
.fs-card-l {
  font-size: 26px;
  margin: 2px;
}
.fs-card-xl {
  font-size: 32px;
}
.responsive-card {
  width: 92%;
}
/*////////////////End of vedio container////////////////////*/
/*cards scroll*/
.scrollable-card-container {
  max-height: 900px; /* Adjust based on the total height of four cards */
  overflow-y: auto;
}
/**************/
/*Pages*/
/*page 20-login users page*/
#login-container p {
  font-family: "Inter" !important;
}

.nxt-btn {
  height: 180px;
  line-height: 57px !important;
  font-size: 42px !important;
  width: 100% !important;
}

#login-container h2 {
  width: 665px;
  height: 56px;
  line-height: 56px;
}

#login-container h3 {
  width: 702px;
  height: 56px;
  font-weight: 500 !important;
  font-size: 32px !important;
  line-height: 39px;
}

#login-container p {
  height: 117px;
  font-weight: 400 !important;
  font-size: 24px !important;
  line-height: 29px;
}

.continue-btn {
  margin-bottom: 80px !important;
}
/*end of page 20-user login*/

.carousel-indicators > button {
  border-radius: 2000000px;
  border: 2px solid black !important;
}

.carousel-indicators > button:not(.active) {
  background: #ffffff;
}

.carousel-indicators {
  position: absolute;
  margin-top: 20px;
  z-index: 2;
  bottom: 6rem;
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(0, 0, 0, 0.4) 58.8%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.card-img-overlay {
  top: 65%;
  left: 0.75rem;
}

.text-border {
  text-shadow: 1px 1px 2px #0d0d0d;
}

.image-center {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*end of styling for login users page*/

/* register users style */

.btn-users:hover,
.btn-users:active,
.btn-users:focus,
.btn-employer:hover,
.btn-employer:active {
  color: #0d0d0d !important;
  background-color: #ffffff;
}
/* end register users style */
#login-container h3 {
  width: 702px;
  height: 56px;
  font-weight: 500 !important;
  line-height: 39px;
}

#login-container p {
  height: 117px;
  font-weight: 400 !important;
  line-height: 29px;
}

.continue-btn {
  margin-bottom: 80px !important;
}

/* Start About */
#about-landing .landing-img,
#landing-author .landing-img {
  height: 699px;
  overflow: hidden;
  position: relative;
}
.bg-secondary {
  background-color: #f9f9f9 !important;
}
/* End About */

/* Start Authors */
#nav-author .breadcrumb-item.active {
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
#nav-author .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  content: ">";
}
/* End Authors */

/****************Media Queries****************/
@media (min-width: 420px) {
  #account-icon-bottom {
    display: none !important; /* Hide the account icon in the bottom navbar */
  }
  #account-icon-top {
    display: block !important; /* Show the account icon in the top navbar */
  }
}

@media (max-width: 420px) {
  #social-icon-container,
  #trend-animated-txt,
  #trend,
  .text-animation {
    display: none;
  }
  #account-icon-bottom {
    display: block !important; /* Show the account icon in the bottom navbar */
  }
  #account-icon-top {
    display: none !important; /* Hide the account icon in the top navbar */
  }
  .fs-card-sm {
    font-size: 5px;
    padding: 0;
    margin: 0;
    line-height: normal;
  }
  .fs-card-md {
    font-size: 5px;
    padding: 0;
    margin: 0;
  }
  .fs-card-l {
    font-size: 5px;
    padding: 0;
    margin: 0;
  }
  .fs-card-xl {
    font-size: 6px;
    padding: 0;
    margin: 0;
  }
  .responsive-card {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 25px;
    height: 25px;
  }
  .carousel-control-prev {
    margin-left: 5px;
  }
  .carousel-control-next {
    margin-right: 5px;
  }
}

@media (min-width: 421px) and (max-width: 600px) {
  #trend-animated-txt,
  #trend,
  .text-animation {
    display: none;
  }
  .fs-card-sm {
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
  .fs-card-md {
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
  .fs-card-l {
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
  .fs-card-xl {
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
  .responsive-card {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 30px;
    height: 30px;
  }
  .carousel-control-prev {
    margin-left: 5px;
  }
  .carousel-control-next {
    margin-right: 5px;
  }
  .carousel-p {
    width: 95%;
  }
}

@media (min-width: 601px) and (max-width: 940px) {
  #date-trend {
    flex-direction: column;
    align-items: start !important;
    margin-bottom: 20px !important;
  }
  #trend {
    padding: 5px !important;
  }
}

@media (min-width: 601px) and (max-width: 649px) {
  .fs-card-sm {
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
  .fs-card-md {
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
  .fs-card-l {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  .fs-card-xl {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  .responsive-card {
    margin: 0 1px 0 1px;
    padding: 1px;
    width: 97%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 35px;
    height: 35px;
  }
  .carousel-control-prev {
    margin-left: 5px;
  }
  .carousel-control-next {
    margin-right: 5px;
  }
  .carousel-p {
    width: 97%;
  }
}
@media (min-width: 650px) and (max-width: 940px) {
  .fs-card-sm {
    font-size: 9px;
    padding: 0;
    margin: 0;
  }
  .fs-card-md {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  .fs-card-l {
    font-size: 11px;
    padding: 0;
    margin: 0;
  }
  .fs-card-xl {
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
  .responsive-card {
    padding: 4px;
    width: 97%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 35px;
    height: 35px;
  }

  .carousel-control-prev {
    margin-left: 5px;
  }
  .carousel-control-next {
    margin-right: 5px;
  }
}

@media (min-width: 941px) and (max-width: 1012px) {
  .fs-card-sm {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  .fs-card-md {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
  .fs-card-l {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  .fs-card-xl {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  .responsive-card {
    padding: 6px;
    width: 96%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 35px;
    height: 35px;
  }

  .carousel-control-prev {
    margin-left: 10px;
  }
  .carousel-control-next {
    margin-right: 10px;
  }
}

@media (min-width: 1013px) and (max-width: 1300px) {
  .fs-card-sm {
    font-size: 14px;
    padding: 4px;
    margin: 0;
  }
  .fs-card-md {
    font-size: 16px;
    padding: 2px;
    margin: 0;
  }
  .fs-card-l {
    font-size: 18px;
    padding: 2px;
    margin: 0;
  }
  .fs-card-xl {
    font-size: 20px;
    padding: 2px;
    margin: 0;
  }
  .responsive-card {
    padding: 8px;
    margin: 0;
    width: 94%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 40px;
    height: 40px;
  }
  .carousel-control-prev {
    margin-left: -5px;
  }
  .carousel-control-next {
    margin-right: -5px;
  }
}

.offcanvas-item {
  color: #fff;
  opacity: 1;
  border-bottom: 2px solid;
  margin-bottom: 0.75rem;
}

.offcanvas-item.active {
  color: #0d0d0d;
}

.offcanvas-item:hover {
  opacity: 0.7;
} /* legal-compliance page */

.readMoreLink:hover,
.readMoreLink:active {
  text-decoration: underline !important;
  color: #0b86cbcc !important;
}

/* end legal-compliance page */

/* workplaceCulture-wellBeing */

/*   carousel */

.carousel-img {
  position: relative !important;
}
.custom-carousel-prev-icon,
.custom-carousel-next-icon {
  background-color: rgba(0, 0, 0, 1);
  color: white !important;
  opacity: 100;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40% !important;
}
.custom-carousel-prev-icon {
  right: 5%;
}
.custom-carousel-next-icon {
  left: 5%;
}

@media (min-width: 599px) and (max-width: 700px) {
  .custom-carousel-prev-icon,
  .custom-carousel-next-icon {
    width: 60px !important;
    height: 60px !important;
  }
}
@media (min-width: 499px) and (max-width: 598px) {
  .custom-carousel-prev-icon,
  .custom-carousel-next-icon {
    width: 50px !important;
    height: 50px !important;
  }
}
@media (min-width: 350px) and (max-width: 498px) {
  .custom-carousel-prev-icon,
  .custom-carousel-next-icon {
    width: 30px !important;
    height: 30px !important;
  }
}
@media (max-width: 349px) {
  .custom-carousel-prev-icon,
  .custom-carousel-next-icon {
    display: none;
  }
}

/* end workplaceCulture-wellBeing

/* image circle */

.rounded-circle-container {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1/1;
}

.rounded-circle-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 375px) and (max-width: 522px) {
  .rounded-circle-container {
    width: 130px;
    height: 130px;
  }
}

/* small img circle */
.rounded-circle-small {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1/1;
}

.rounded-circle-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 375px) and (max-width: 522px) {
  .rounded-circle-small {
    width: 80px;
    height: 80px;
  }
  .rounded-circle-small img {
    margin-right: 0 !important;
  }
}

/* end image circle */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* End Marquee Animation */

.shadow-effect {
  box-shadow: 11px 20px 15px 2px rgba(237, 237, 237, 0.25),
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.border-secondary {
  border-color: #f9f9f9 !important;
}
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 992px) {
  .event-btn {
    justify-content: end !important;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-grow-0 {
    flex-grow: 0 !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #slideWrapper {
    justify-content: space-around;
  }
}
.slide_group {
  position: relative;
}

.arrow-container {
  position: absolute;
  top: 48.5%;
}
.next_btn {
  right: 0;
  left: 90%;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .arrow-container {
    top: 55%;
  }
}
@media (max-width: 1200px) {
  .previous_btn img,
  .next_btn img {
    width: 30px;
  }
}
@media (max-width: 768px) {
  .hs {
    font-size: large !important;
  }
  .ps {
    font-size: small !important;
  }
}
